services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"
    environment:
      - NODE_ENV=production
    depends_on:
      - backend
    networks:
      - everymusic-network

  backend:
    image: backend:latest
    ports:
      - "8080:8080"
    environment:
      - NODE_ENV=production
    networks:
      - everymusic-network

networks:
  everymusic-network:
    driver: bridge
